@import 'variables.scss';
@import 'base_styles.scss';

.bg_color_animate_smooth, %bg_color_animate_smooth {
    -webkit-transition: background-color .6s ease-out;
    -moz-transition: background-color .6s ease-out;
    -o-transition: background-color .6s ease-out;
    transition: background-color .6s ease-out;
}

// BASE STYLES
html, body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: $background;
    font-size: 16px;
    color: $text;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.cursor {
    cursor: pointer;
}

div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

p, %p {
    padding: 0;
    margin: 0;
}

.p_error {
    @extend %p;
    color: $error;
}

.logo {
    max-width: 3em;
}

// USEFUL CLASSES

.container, %container {
    background-color: $secondary;
    border-radius: 27px;
    border-color: transparent;
}

.top-bot-border {
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: #dadada;
}

.align-items-center {
    align-items: center;
}

.flexbox {
    display: flex;
}

.row {
    display: flex;
    justify-content: space-between;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.justify-content-center {
    justify-content: center;
}

.block__paragraph {
    margin: 0 0 41px;
    max-width: 415px;
    font-size: 20px;
    line-height: 1.4;
    text-shadow: none;
    font-weight: 200;
    letter-spacing: .4px;
}

.block__title {
    margin: 3px 0 23px;
    max-width: 100%;
    font-size: 55px;
    font-weight: 700;
    text-shadow: none;
    letter-spacing: -0.3px;
}

.advantage-block__title {
    margin-bottom: 16px;
    color: $text;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.5px;
}

.block__btn {
    padding: 18px 15px;
    margin: 0 0 100px;
    width: 100%;
    max-width: 185px;
    min-width: initial;
    color: $primary_action;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.65px;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-radius: 6px;
    background-color: $secondary;
    display: inline-block;
    line-height: 16px;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.25s;
    border: none;
    outline: none;
    cursor: pointer;
}

.block__btn:hover {
    background-color: #ffffffaf;
}

.btn_edit {
    @extend %bg_color_animate_smooth;
    background-color: $edit;
    color: $secondary;
    padding: .4em 2.7em;
    margin-left: 2em;
    cursor: pointer;
    border-radius: .8em;
    font-size: 1em;
}



.btn_edit:hover {
    background-color: rgb(0, 126, 122);
}

.section-sides-padding {
    padding: 0em 8em;
}


.section-padding {
    padding: 3em 8em;
}

.mid-title {
    font-size: 30px;
    color: #000000;
    text-align: left;
    font-weight: bold;
    line-height: 1.53;
    letter-spacing: -0.4px;
}

// COMPONENT STYLES
.header-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    min-height: 60px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
    min-height: 60px;
    position: relative;

    .header__right {
        display: flex;
    }
}

.header-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4em;
    padding: 1em;
    a {
        padding: 1em;
    }
}

.footer {
    background-color: $background;
    color: $secondary;
    padding: 5em 6em;
    .logo {
        color: $primary_action;
    }

    // .links {
    //     color: $d
    // }
}

h1 {
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
    font-size: 56px;
    margin-bottom: 24px;
}


.top-down-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.hero-section {
    background-color: $primary_action;
    height: 10vh;
    width: 100%;
    position: relative;
    z-index: 1;
}

.form-wrapper {
    background-color: white;
    display: flex;
    justify-content: center;
    margin-top: 8em;
}

.user-form {
    background-color: white;
    color: black;
    position: relative;
    max-width: 40vw;
    box-shadow: 0 0 1px rgba(7,32,60,.12), 0 1px 3px rgba(7,32,60,.16);
    margin-top: -7em;
    padding: 80px 80px 56px 80px;
    margin-bottom: 80px;
    z-index: 1;
    border-radius: 12px;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 1em 0em;
    margin: 0;
    label {
        font-weight: 500;
        margin-bottom: 8px;
        padding-left: 1px;
    }
    
    input, select {
        padding: .6em .8em;
        background-color: transparent;
        font-size: 1em;
        border: 1px solid #c9c9c9;
        border-radius: 6px;
        text-align: left;
    }
}

h2.content-section {
    text-align: left !important;
    font-weight: 500;
    line-height: 56px;
    font-size: 48px;
    letter-spacing: .01em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 24px;
    color: $background;
}

p.content-section {
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    font-size: 18px;
    text-align: left;
    color: #53637a;
    padding: 24px 0 24px;
    margin: 0;
}

p.content-medium {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .02em;
    padding: 16px 0 16px;
}

h4.content-section {
    margin-bottom: 8px;
    margin-top: 24px;
    color: #24282e;
    font-weight: 500;
    line-height: 32px;
    font-size: 24px;
    letter-spacing: .01em;
}

ul.content-section {
    margin-bottom: 16px;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

li.content-section {
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    font-size: 18px;
    text-align: left;
    color: #53637a;
}

.push-down {
    margin-top: 34px;
}

// BASE STYLES LIBRARY
.center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.pad-down {
    padding-top: 34px;
}

.section-divider {
    height: 1px;
    background: rgba(111,132,163,.12);
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
}
