
@import 'components.scss';

.home {
    color: $secondary;
    background-color: $primary;

    .top {
        padding-top: 4em;
        background-color: $primary;
        background-image: url(../assets/topbg.webp);
        background-position-y: bottom;
        background-position-x: right;
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        .left-content {
            margin-left: 16em;
            a {
                margin-bottom: 10em;
            }
        }
        .lower-logos {
                margin-top: 1em;
            img { 
                margin: 0em 2em 1.2em 1em;
                width: 8em;
                max-height: 8em;
            }
        }   
    }

    .advantage-block {
        background-color: $secondary;
        color: $text;
        border-bottom: 1px solid;
        border-color: #dadada;
        .item  {
            max-width: 22em;
        }
    }
    
    .how-it-works {
        background-color: $secondary;
        color: $text;
        padding: 3em 16em; 
        .how-works__item {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
        }
        .how-works__step-numb {
            flex-shrink: 0;
            display: inline-block;
            margin-right: 30px;
            width: 46px;
            height: 46px;
            color: #000;
            font-size: 20px;
            line-height: 46px;
            text-align: center;
            border-radius: 50%;
            background-color: #f4f4f4;
        }
        .how-works__step-text {
            color: #303030;
            font-size: 18px;
            max-width: 413px;
            line-height: 1.44;
            letter-spacing: -0.65px;
        }
        a {
            background-color: $text;
            color: $secondary;
        }
    }
}


// section {
//     opacity: 0;
//     transform: translate(0, 20px); 
//     transition: all 1s;
// }

//   section.visible { 
//     opacity: 1;
//     transform: translate(0, 0);
// }