
@import 'components.scss';


.fadein, %fadein {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}
.home {
    color: $secondary;
    background-color: $primary;

    .top {
        min-height: 40em;
        padding-top: 4em;
        background-color: $background;
        background-position-y: bottom;
        background-position-x: right;
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        color: $text;
        .blur-img {
            margin: 0 auto;
            max-width: 42vw;
            display: block;
            -webkit-box-shadow: 12px 11px 18px 0px rgba(255,255,255,1);
            -moz-box-shadow: 12px 11px 18px 0px rgba(255,255,255,1);
            box-shadow: 12px 11px 18px 0px rgba(255,255,255,1);
            @extend %fadein;
        }
        .slogan {
            @extend %fadein;            
        }
        .landing-btn {
            margin-left: 1em;
            margin-right: 1em;
        }
        @keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        /* Firefox < 16 */
        @-moz-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        /* Safari, Chrome and Opera > 12.1 */
        @-webkit-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        /* Internet Explorer */
        @-ms-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        .left-content {
            margin-left: 16em;
            a {
                margin-bottom: 10em;
            }
        }
        .lower-logos {
                margin-top: 1em;
            img { 
                margin: 0em 2em 1.2em 1em;
                width: 8em;
                max-height: 8em;
            }
        }   
    }

    .advantage-block {
        background-color: $secondary;
        color: $text;
        border-bottom: 1px solid;
        border-color: #dadada;
        .item  {
            max-width: 22em;
        }
    }
    
    .how-it-works {
        background-color: $secondary;
        color: $text;
        padding: 3em 16em; 
        .how-works__item {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
        }
        .how-works__step-numb {
            flex-shrink: 0;
            display: inline-block;
            margin-right: 30px;
            width: 46px;
            height: 46px;
            color: #000;
            font-size: 20px;
            line-height: 46px;
            text-align: center;
            border-radius: 50%;
            background-color: #f4f4f4;
        }
        .how-works__step-text {
            color: #303030;
            font-size: 18px;
            max-width: 413px;
            line-height: 1.44;
            letter-spacing: -0.65px;
        }
        a {
            background-color: $text;
            color: $secondary;
        }
    }
}


// section {
//     opacity: 0;
//     transform: translate(0, 20px); 
//     transition: all 1s;
// }

//   section.visible { 
//     opacity: 1;
//     transform: translate(0, 0);
// }