$primary: orange;
$primary_action: #0091FF;
$secondary: #ffffff;
$text: #000000;
$background: #EBEFF3;
$edit: #00BEB7;
$save: #62BE00;
$line_color: #7474749a;

// FONTS

// @font-face {
//     font-family: regular;
//     src: url(../assets/fonts/HelveticaNeue.ttc);
// }