$primary: orange;
$primary_action: #0091FF;
$secondary: #ffffff;
$error: rgb(217, 68, 45);
$text: #000000;
$background: #EBEFF3;
$inputbg: #F3F3F3;
$edit: #00BEB7;
$save: rgb(22, 140, 54);
$line_color: #7474749a;

// FONTS

// @font-face {
//     font-family: regular;
//     src: url(../assets/fonts/HelveticaNeue.ttc);
// }