
@import 'components.scss';

.home {
    color: $secondary;
    background-color: $primary;

    .top {
        padding-top: 4em;
        background-color: $primary;
        background-image: url(../assets/topbg.webp);
        background-position-y: bottom;
        background-position-x: right;
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        .left-content {
            margin-left: 16em;
            a {
                margin-bottom: 10em;
            }
        }
        .lower-logos {
                margin-top: 1em;
            img { 
                width: 8em;
                max-height: 8em;
                
            }
        }   
    }
}