
@import 'components.scss';

.home {
    color: $secondary;
    background-color: $primary;

    .top {
        padding-top: 4em;
        background-color: $primary;
        background-image: url(../assets/topbg.webp);
        background-position-y: bottom;
        background-position-x: right;
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        .left-content {
            margin-left: 16em;
            a {
                margin-bottom: 10em;
            }
        }
        .lower-logos {
                margin-top: 1em;
            img { 
                margin: 0em 2em 1.2em 1em;
                width: 8em;
                max-height: 8em;
            }
        }   
    }

    .advantage-block {
        background-color: $secondary;
        color: $text;
        border-bottom: 1px solid;
        border-color: #dadada;
        .item  {
            max-width: 22em;
        }
    }
    
    .how-it-works {
        background-color: $secondary;
        color: $text;
        padding: 3em 16em;
    }
}
